p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: left;
    text-decoration: rgb(71, 163, 132);
    padding: 10px;
}

.user-tasks{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: 20px;
    list-style: circle;
    font-style: oblique;
}